/* variables */
:root {
  --background-color: #333333;
  --white: white;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Header content name and links */

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6vh;
  width: 100%;
  font-size: 2.5rem;
  background-color: var(--background-color);
  color: var(--white);
  padding: 2%;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: 2rem;
}

/* about me and project area */

main {
  width: 100%;
  flex-wrap: wrap;
  background: linear-gradient(var(--background-color), var(--white));
}

/* about me / project content container sizing */
section {
  display: flex;
  width: 100%;
  color: var(--white);
}
/* aside sizing */

section aside {
  background-color: var(--background-color);
  width: 20%;
  display: flex;
  justify-content: end;
  font-size: 2rem;
  color: var(--white);
  border-radius: 0 15px 15px 0;
  margin: 1px 1px 1px 1px;
  padding: 3% 2% 0 0;
}

/*sizing for about and project content*/

section article {
  background-color: var(--background-color);
  width: 80%;
  border-radius: 15px 0 0 15px;
  margin: 1px 0 1px 1px;
  font-size: 1.5rem;
}

section div {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--background-color);
  border-radius: 15px 0 0 15px;
  margin: 1px 0 1px 1px;
}

/* Footer */

footer {
  display: flex;
  width: 100%;
  height: 5vh;
  font-size: 1.5em;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  color: var(--background-color);
}

footer a {
  color: var(--background-color);
}

/*card style*/

.card {
  width: 24%;
  min-width: 300px;
  padding: 1%;
  margin: 0.5% 0.5% 3% 0.5%;
}

.card img {
  width: 100%;
  border: 2px solid var(--white);
  border-radius: 10px;
}
.card header {
  border: 2px solid aquamarine;
  border-radius: 10px;
  width: 45%;
  position: relative;
  top: 82%;
  left: -5%;
  font-size: 1.5rem;
}

/* Seperate smaller cards */
.projectsBot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* about me id */
#aboutMe article {
  padding: 3% 8% 3% 8%;
}

/* project id */
#project aside {
  padding-top: 4%;
}

/* big card header */
#bigcard header {
  position: static;
  width: 100%;
}
