:root {
  --text-white: #fff;
  --background-color: #333333;
}

/*universal border sizing */

* {
  box-sizing: border-box;
  color: var(--text-white);
}

/*Body styles */

body {
  font-family: monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 100vh;
  justify-content: flex-start;
}

/* Navigation bar and name */

header {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 40px;
  text-align: center;
  font-size: 3vh;
}

header a {
  text-decoration: none;
  font-size: 80%;
}

/* Main body flex style */

main {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(#333333, #fff);
}

/* sections sizing for main  */
section {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  height: auto;
}

/* About me / work aside section  */

section aside {
  font-size: 2vh;
  width: 20%;
  padding: 1% 1% 0 0;
  text-align: right;
}

/* about me section */
section article {
  font-size: 2vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

  padding: 7% 10% 7% 10%;
}



/* Footer styles */

footer {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 2vh;
}

footer a {
  text-decoration: none;
}

/* project section styles */

.projects {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

/* other card styles */
.card {
  flex: 1;
  width: 50%;
  padding: 5% 0 5% 0;
  margin: 0 1% 0 1%;
}

.card header {
  justify-content: center;
}

.card img {
  width: 100%;
  justify-items: center;
}

/* main project style */
#bigcard {
  order: -1;
  min-width: 100%;
  height: auto;
  width: 100%;
  flex: 0 0 100%;
  padding: 2% 0 2% 0;
}
